/*-------*/
/*General*/
/*-------*/

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: black;
  font-family: inherit;
}

h2 {
  font-size: 1.6em;
}

h3 {
  color: black;
  font-size: 1.4em;
}

/** {
  font-family: 'Open Sans', sans-serif;
}*/

html, body {
	margin: 0;
	background-color: Gainsboro;
	height: 100vh;
	overflow: hidden;
}

a {
  text-decoration: none;
}

main {
  position: absolute;
}

/*--------*/
/*Left Bar*/
/*--------*/

.left-sidebar {
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 250px;
  /* background-color: #1f2124; */
  /*background-color: #20262e;*/
  background-color: gainsboro;
  color: black;
  height: 100vh;
  text-align: center;
  border-color:  rgba(207,208,210,.2);
  border-style:  dotted;
  border-right-width: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
}

.left-nav {
  height: 163.2px;
  padding-top: 20px;
}

.left-nav a {
  cursor: pointer;
}

.site-header {
  height: 40.4px;
  margin: auto;
  padding-top: 5px;
}

.site-header h1 {
  color: black;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
}

/*-------------*/
/* Search form */
/*-------------*/

.input-group {
  width: 50%;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}

.form-control {
  font-size: 0.9em;
  margin: 0;
  width: 90%;
  text-align: center;
  background-color: white;
  border: 1;
  border-radius: 8px;
  color: black;
  border-color: #13895F;
}

#search-bar:focus {
  outline-width: 0;
}

.left-nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.left-nav li {
  font-weight: 200;
}

.left-nav a.active,
.left-nav a:hover {
  max-width: 250px;
  background: lightgray;
  border-left: 8px solid #13895F;
}

.left-nav a {
  /* background: #18191b; */
  background: rgba(0,0,0,.15);
  color: black;
  display: block;
  padding: 30px;
  transition: all 0.3s ease;
}

.profile-img {
  padding: 30px;
}

/*---------*/
/* ID List */
/*---------*/

.id-list {
  padding-top: 20px;
  height: calc(100% - 153px);
  /* height:  100%; */
}

.id-list ul {
  overflow: hidden;
  height: calc(100% - 153px);
  /* height: 100%; */
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
  height: 50px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #13895F;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.id-list li {
  font-weight: 300;
  color: black;
  margin-left: 0px;
}

.id-list li:hover {
  color: #13895F;
  cursor: pointer;
}

/*------------*/
/* Right side */
/*------------*/

.right-side {
  height: 100vh;
  width: auto;
  margin-left: 250px;
  /* background-color: #252728; */
  background-color: #20262e;
  text-align: center;
}

/*--------------*/
/* Right header */
/*--------------*/
table, td {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 100;
  background-color: white;
  font-size:1.2em;
  /*border: 1px solid black; */
  color: black;
  height: 65px;
  width: 99.9%;
}

table #id-display {
  width: 30%;
}
table #space {
  width: 60%;
}
table .cat-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table #category-text {
  width: 10%;
}
table #container {
  position: relative;
  text-align: center;
  color: white;
}
table #category-display {
  width: 10%;
}
table #category-img {
  margin-top: 0px;
  border-radius: 50%;
}
table #model-display {
  /*width: 30%;*/
}

/*----------*/
/* D3 space */
/*----------*/

.d3-space {
  background-color: white;
  /*background-color: Gainsboro;*/
  width: 100%;
  height: calc(100% - 150px);
  text-align:  center;
}

/*-----------*/
/* SVG space */
/*-----------*/

svg {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
  margin-top: 15px;
	display: auto;
}

.axis path,
.axis line {
    stroke-opacity: 0.1;
    fill: none;
    stroke: none;
}


.axis text{
    font-family: sans-serif
    font-size: 12px;
    font-weight: bold;
}

.bg_bar {
    fill:white;
}

/*------------*/
/* Text space */
/*------------*/

.txt-space {
  width: 100%;
  height: 65.4px;
  background-color: white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#demo {
  background-color: white;
}

#check-text {
  display: inline;
}

/*-----------------*/
/* Loading content */
/*-----------------*/

.loader_wrap {
  width: 100%;
  height: 100%;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 200px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*bar blue: rgb(30,61,122)*/