/*-------*/
/*General*/
/*-------*/

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: white;
  font-family: inherit;
}

h2 {
  font-size: 1.6em;
}

h3 {
  color: #7f7f7f;
  font-size: 1.4em;
}

/** {
  font-family: 'Open Sans', sans-serif;
}*/

html, body {
	margin: 0;
	background-color: Gainsboro;
	height: 100vh;
	overflow: hidden;
}


main {
  position: absolute;
}

/*--------*/
/*Left Bar*/
/*--------*/

.left-sidebar {
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 300px;
  /* background-color: #1f2124; */
  background-color: #20262e;
  height: 100vh;
  text-align: center;
  border-color:  rgba(207,208,210,.2);
  border-style:  dotted;
  border-right-width: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
}

.left-nav {
  padding-top: 20px;
}

.left-nav a {
  cursor: pointer;
}

.site-header {
  margin: auto;
  padding-top: 5px;
}

.site-header h1 {
  color: white;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
}

/*-------------*/
/* Search form */
/*-------------*/

.input-group {
  width: 50%;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}

.form-control {
  font-size: 0.9em;
  margin: 0;
  width: 90%;
  text-align: center;
  background-color: white;
  border: 1;
  border-radius: 8px;
  color: black;
  border-color: #13895F;
}

.left-nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.left-nav li {
  font-weight: 200;
}

.left-nav a.active,
.left-nav a:hover {
  max-width: 300px;
  background: #0A0F19;
  border-left: 8px solid #13895F;
}

.left-nav a {
  /* background: #18191b; */
  background: rgba(0,0,0,.15);
  color: #e9e9ea;
  display: block;
  padding: 30px;
  transition: all 0.3s ease;
}

.profile-img {
  padding: 30px;
}

/*---------*/
/* ID List */
/*---------*/

.id-list {
  padding-top: 20px;
  max-height: 400px;
}

.id-list ul {
  overflow: hidden;
  max-height: 400px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
  height: 50px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #13895F;
}


.id-list li {
  font-weight: 300;
  color: white;
}

.id-list li:hover {
  color: orange;
  cursor: pointer;
}

/*------------*/
/* Right side */
/*------------*/

.right-side {
  height: 100vh;
  width: auto;
  margin-left: 300px;
  /* background-color: #252728; */
  background-color: #20262e;
  text-align: center;
}

.right-header {
  font-family: "Palatino Linotype", Times, serif;
  background-color: #081623;
  height: 139px;
  width: auto;
  
}

.id-display {
  height: 100%;
  line-height: 139px;
  margin: auto;
  display: inline-block;
  text-align: left;
  width: 45%; 
  color: white;
  font-size: 2.5em;
  text-decoration: underline;

}

.model-display {
  height: 42%;
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 20%; 
  color: white;
  font-size: 2.5em;
  /*background-color: #5f8fc6;*/
  border-style: solid;
  border-width: 3px;
  border-color: #5f8fc6;
}

/* .percent {
  margin: auto;
  float: right;
  border: solid;
  border-width: 1px;
  text-align: right;
  width: 40%;
  height: 40%;
} */

