/*-------*/
/*General*/
/*-------*/

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: white;
  font-family: inherit;
}

h2 {
  font-size: 1.6em;
}

h3 {
  color: #7f7f7f;
  font-size: 1.4em;
}

/** {
  font-family: 'Open Sans', sans-serif;
}*/

html, body {
	margin: 0;
	background-color: Gainsboro;
	height: 100vh;
	overflow: hidden;
}


main {
  position: absolute;
}

/*--------*/
/*Left Bar*/
/*--------*/

.left-sidebar {
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 250px;
  /* background-color: #1f2124; */
  background-color: #20262e;
  height: 100vh;
  text-align: center;
  border-color:  rgba(207,208,210,.2);
  border-style:  dotted;
  border-right-width: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
}

.left-nav {
  height: 163.2px;
  padding-top: 20px;
}

.left-nav a {
  cursor: pointer;
}

.site-header {
  height: 40.4px;
  margin: auto;
  padding-top: 5px;
}

.site-header h1 {
  color: white;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
}

/*-------------*/
/* Search form */
/*-------------*/

.input-group {
  width: 50%;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}

.form-control {
  font-size: 0.9em;
  margin: 0;
  width: 90%;
  text-align: center;
  background-color: white;
  border: 1;
  border-radius: 8px;
  color: black;
  border-color: #13895F;
}

.left-nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.left-nav li {
  font-weight: 200;
}

.left-nav a.active,
.left-nav a:hover {
  max-width: 250px;
  background: #0A0F19;
  border-left: 8px solid #13895F;
}

.left-nav a {
  /* background: #18191b; */
  background: rgba(0,0,0,.15);
  color: #e9e9ea;
  display: block;
  padding: 30px;
  transition: all 0.3s ease;
}

.profile-img {
  padding: 30px;
}

/*---------*/
/* ID List */
/*---------*/

.id-list {
  padding-top: 20px;
  height: calc(100% - 153px);
  /* height:  100%; */
}

.id-list ul {
  overflow: hidden;
  height: calc(100% - 153px);
  /* height: 100%; */
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
  height: 50px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #13895F;
}


.id-list li {
  font-weight: 300;
  color: white;
}

.id-list li:hover {
  color: orange;
  cursor: pointer;
}

/*------------*/
/* Right side */
/*------------*/

.right-side {
  height: 100vh;
  width: auto;
  margin-left: 250px;
  /* background-color: #252728; */
  background-color: #20262e;
  text-align: center;
}

/*--------------*/
/* Right header */
/*--------------*/

.right-header {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  /*background-color: #081623;*/
  background-color: #0A0F19;
  height: 65.4px;
  width: auto;
  
}

.id-display {
  height: 100%;
  line-height: 65.4px;
  margin: auto;
  display: inline-block;
  text-align: left;
  width: 45%; 
  color: white;
  font-size: 2em;

}

.model-display {
  height: 42%;
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 40%; 
  color: white;
  font-size: 2em;
}

.category-display {
  height: 42%;
  margin: auto;
  padding-bottom: 13px;
  display: inline-block;
  text-align: center;
  width: 10%; 
  color: white;
  font-size: 2em;
  border-style: solid;
  border-width: 3px;
  border-color: #5f8fc6;
}

/*----------*/
/* D3 space */
/*----------*/

.d3-space {
  background-color: #20262e;
  width: 100%;
  height: calc(100% - 294px);
  text-align:  center;
}

/*-----------*/
/* SVG space */
/*-----------*/

svg {
	background-color: #20262e;
	margin: auto;
	display: block;
}

.axis path,
.axis line {
    stroke-opacity: 0.1;
    fill: none;
    stroke: none;
}

g.tick text {
    fill: white;
}

.axis text{
    font-family: sans-serif
    fill: white;
    font-size: 12px;
    font-weight: bold;
}

.bg_bar {
    fill: white;
}

/*------------*/
/* Text space */
/*------------*/

.txt-space {
  width: 100%;
  height: 65.4px;
  background-color: lightblue;
}


