<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Visual Interface</title>
    <meta name="author" content="NYU UGR Team">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="/static/css/scratchstyle-light.css" rel="stylesheet" type="text/css">
    <!-- D3.js and jQuery source -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- SVG scripts -->
    <script type="text/javascript" src="/static/js/main_graph.js"></script>
    <script type="text/javascript" src="/static/js/percentage_bar.js"></script>
    <script type="text/javascript" src="/static/js/squares.js"></script>
  </head>

  <body>
    <div class="main">
      <div class="left-sidebar">
        <header class="site-header">
          <h1>FICO CHALLENGE</h1>
        </header>
        <nav class="left-nav">
          <ul>
            <li><a href="/global">GLOBAL EXPLANATION</a></li>
            <li><a href="/individual">LOCAL EXPLANATIONS</a></li>
          </ul>
        </nav>
        <!-- Search box -->
        <div class="input-group">
          <input id="search-bar" type="text" class="form-control" placeholder="ID number" name="srch-term" autocomplete="off"
                 onkeydown="formHandle(event)">
        </div>
        <nav class="id-list">
        </nav>
      </div>
      
      <div class="right-side" id="demo">
        <table class="right-header">
          <tr>
              <td id="id-display">
                <!-- ID: 100 -->
              </td>
              <td id="category-display">
                <div id="container">
                  <div class="cat-text"></div>
                  <img id="category-img">
                </div>
              </td>
              <!-- <td id="category-text">TP</td> -->
              <td id="space"></td>
              <td id="model-display">
                <!-- Model Prediction: 61% -->
              </td>
          </tr>
        </table>
        <div class="d3-space">
          <!-- D3 graphs -->
        </div>
        <div class="txt-space">
          <input id="check-density" type="checkbox" name="density" value="yes" checked onchange="checkHandle(event)" style="display: none;">
          <p id="check-text"></p>
          <br>
          <!-- Text explanation -->

        </div>
      </div>
    </div>

    <script>
    
      function addSquare(elemn, category, size) {
        var sqr = document.createElement("img");
          if (category == "FN"){
            sqr.src="/static/images/square2-min.jpg";
          }
          else if (category == "TN"){
            sqr.src="/static/images/square4-min.jpg";
          }
          else if (category == "FP"){
            sqr.src="/static/images/square1-min.jpg";
          }
          else if (category == "TP"){
            sqr.src="/static/images/square3-min.jpg";
          }
          else if (category == "NA"){
            sqr.src="/static/images/square5-min.jpg";
          } 
          sqr.height=size;
          sqr.width=size;
          sqr.id = "category-img";
          sqr.style.margin = "0px 0px 0px 0px";
          document.getElementById(elemn).append(sqr);
      }

      function formHandle(event) {
        if (event.which == 13 || event.keyCode == 13){
          makeRequest('form', 0);
          return false;
        }
      }

      function checkHandle(event) {
        makeRequest("check", 0);
        return false;   
      }

      var txtFile;
      function fetch_csv(){
        txtFile = new XMLHttpRequest();
        txtFile.onreadystatechange = initContents;
        txtFile.open("GET", "/static/data/pre_data.csv");
        txtFile.send()
      }
      
      var pre_array = [];
      function initContents() {
        if (txtFile.readyState === XMLHttpRequest.DONE) {
          if (txtFile.status === 200) {
            var rows = txtFile.responseText.split("\n");
            for (var i = 0; i < rows.length; i++) {
              var cells = rows[i].split(",");
              pre_array.push(cells);
            }
          }
        }
      }

      var httpRequest;
      function makeRequest(source, sample) {
        httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
          alert('Giving up :( Cannot create an XMLHTTP instance');
          return false;
        }
        if (source == 'form') {
          var s = document.getElementById("search-bar").value;
          document.getElementById("search-bar").value="";
        }
        else if (source == 'list') {
          var s = sample.id.substring(5);
        }
        else {
          var s = document.getElementById("id-display").innerHTML.substring(4);
        }
        
        httpRequest.onreadystatechange = alertContents;
        httpRequest.open('GET', '/instance?sample='+s);
        httpRequest.send();
        return false;
      }

      function alertContents() {
        if (httpRequest.readyState === XMLHttpRequest.OPENED) {
          document.getElementsByClassName("d3-space")[0].innerHTML="";
          var load_wrap = document.createElement("div");
          load_wrap.className = "loader_wrap";
          var loader = document.createElement("div");
          loader.className = "lds-dual-ring";
          load_wrap.append(loader);
          document.getElementsByClassName("d3-space")[0].append(load_wrap);
        }
        else if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            //Do stuff with the response
            // var resp = JSON.parse(httpRequest.responseText);
            var resp_arr = httpRequest.responseText.split('~');
            var testData = [];
            var densityData = [];
            for (i=0; i<23; i++){
              testData.push(JSON.parse(resp_arr[i]));
            }
            for (i=0; i<23; i++){
              densityData.push(JSON.parse(resp_arr[i+23]));
            }
            var resp = JSON.parse(resp_arr[46]);
            
            var index = resp['sample'].toString();
            var trans_sample = resp['trans_sample'].toString();
            var good_percent = resp['good_percent'];
            var correct = parseInt(resp['model_correct']);
            var category = resp['category'];
            var result = resp['predicted'];
            var disp_percent = good_percent;
            document.getElementById("id-display").innerHTML = "ID: " + index;
            // document.getElementsByClassName("model-display")[0].innerHTML = "Model prediction: " + disp_percent.toString() + "% ";
            document.getElementById("model-display").innerHTML = "";
            var image_x = document.getElementById('category-img')
            image_x.parentNode.removeChild(image_x);
            addSquare("container", category, 45);
            draw_percent_bar(disp_percent);
            document.getElementsByClassName("cat-text")[0].innerHTML = category;
            document.getElementsByClassName("d3-space")[0].innerHTML = "";

            if (trans_sample == '-9') {
              document.getElementsByClassName("d3-space")[0].innerHTML = "SPECIAL CASE";
            }
            else {
              document.getElementById("check-density").style.display = "inline";
              document.getElementById("check-text").innerHTML = "Density distribution";
              if (document.getElementById("check-density").checked == true){
                draw_graph(testData, densityData, result);
              }
              else {
                draw_graph(testData, "no", result);
              }
            }
          } else {
            alert('HttpRequest Error')
          }
        }
      }

      function prep_content(callback0, callback1, callback2) {

        callback0();

        // setTimeout(function(){ alert("Hello"); }, 3000);
        setTimeout(function(){ callback1();

        callback2(); }, 50);

      }

      function add_loader() {
        document.getElementsByClassName("id-list")[0].innerHTML="";
        var load_wrap = document.createElement("div");
        load_wrap.className = "loader_wrap";
        var loader = document.createElement("div");
        loader.className = "lds-dual-ring";
        load_wrap.append(loader);
        document.getElementsByClassName("id-list")[0].append(load_wrap);
      }

      function id_list (){

        var samples = 10459;
        var list_cont = document.createElement("ul");
        for (i = 1; i <= samples; i++) {
          var para = document.createElement("li");
          para.innerHTML = "ID " + i.toString();
          para.id = "link-" + i.toString();
          para.onclick = function () { makeRequest('list', this); };
          var li_div = document.createElement("div");
          li_div.style.width = "75px";
          li_div.style.float = "right";
          li_div.style.margin = "0px 25px 0px 0px";
          li_div.id = "link-div-" + i.toString();
          para.append(li_div);
          list_cont.append(para);
        }
        console.log("LIST");
        document.getElementsByClassName("id-list")[0].innerHTML="";
        document.getElementsByClassName("id-list")[0].append(list_cont);
      }

      function add_images() {
        for (var i = 1; i < pre_array.length; i++) {

          var sqr = document.createElement("img");
          if (pre_array[i][2].trim() == "FN"){
            sqr.src="/static/images/square2-min.jpg";
          }
          else if (pre_array[i][2].trim() == "TN"){
            sqr.src="/static/images/square4-min.jpg";
          }
          else if (pre_array[i][2].trim() == "FP"){
            sqr.src="/static/images/square1-min.jpg";
          }
          else if (pre_array[i][2].trim() == "TP"){
            sqr.src="/static/images/square3-min.jpg";
          } 
          else if (pre_array[i][2].trim() == "NA"){
            sqr.src="/static/images/square5-min.jpg";
          } 
          sqr.height="15";
          sqr.width="15";
          sqr.style.borderRadius = "50%";
          sqr.style.verticalAlign = "middle";
          sqr.style.margin = "4px 0px 0px 0px";
          sqr.style.float = "left";
          var link_string = pre_array[i][3] + "\xa0 \xa0"  + pre_array[i][4];
          document.getElementById("link-div-"+i.toString()).innerHTML = link_string;
          document.getElementById("link-div-"+i.toString()).append(sqr);
          
        }
        console.log("IMGS");
      }

      $.when( fetch_csv() ).then(function(){setTimeout(function(){prep_content(add_loader, id_list, add_images); }, 200)});

      // draw_percent_bar(.41);
      // addSquare("container", "TP", 45);

    </script>

  </body>

</html>
