<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Visual Interface</title>
    <meta name="author" content="NYU UGR Team">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="static/css/scratchstyle-light.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="main">
      <div class="left-sidebar">
        <header class="site-header">
          <h1><a href="intro">FICO CHALLENGE</a></h1>
        </header>
        <nav class="left-nav">
          <ul>
            <li><a href="global">GLOBAL EXPLANATION</a></li>
            <li><a href="individual">LOCAL EXPLANATIONS</a></li>
          </ul>
        </nav>
        
      </div>
      
      <div class="right-side" id="demo">
        <img src="static/images/intro_big.png" id="intro-instruction">
      </div>

    </div>

    <script>
    
    </script>

  </body>

</html>