<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Visual Interface</title>
    <meta name="author" content="NYU UGR Team">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="static/css/scratchstyle-light.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="main">
      <div class="left-sidebar">
        <header class="site-header">
          <h1><a href="intro">FICO CHALLENGE</a></h1>
        </header>
        <nav class="left-nav">
          <ul>
            <li><a href="global">GLOBAL EXPLANATION</a></li>
            <li><a href="individual">LOCAL EXPLANATIONS</a></li>
          </ul>
        </nav>

        <br>

          <a href="https://github.com/5teffen/Fico-Challenge" target="_blank" class="intro-links">
            <img src="static/images/GitHub-Mark-32px.png" class="logo">
            <img src="static/images/GitHub_Logo.png" class="text">
          </a>


          <br>
          <a href="static/images/FICO_paper.pdf" target="_blank" class="intro-links">
            <img src="static/images/paper.png" class="logo" id="paper-logo">
            <img src="static/images/writeup.png" class="text">
          </a>
                
      </div>
      
      <div class="right-side" id="demo">
        <img src="static/images/taustonly.png" id="intro-background">
        <img src="static/images/tobegin.png" id="intro-arrow">
        <img src="static/images/suurtekst.png" id="intro-instruction">

      </div>

    </div>

    <script>
    
    </script>

  </body>

</html>