<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Visual Interface</title>
    <meta name="author" content="NYU UGR Team">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <!-- <link href="/static/css/font-awesome1.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap1.min.css" rel="stylesheet"> -->
    <link href="/static/css/style1.css" rel="stylesheet">
    
  </head>
  <body>  
    <!-- Left column -->
      <div class="left-sidebar">
        <header class="site-header">
          <div class="square"></div>
          <h1>FICO CHALLENGE</h1>
        </header>
        <nav class="left-nav">          
          <ul>
            <li><a href="#" class="active"><i class="fa fa-database fa-fw"></i>GLOBAL EXPLANATION</a></li>
            <li><a href="#"><i class="fa fa-bar-chart fa-fw"></i>LOCAL EXPLANATIONS</a></li>
            <!-- <li><a href="/static/data-visualization.html"><i class="fa fa-database fa-fw"></i>Data Visualization</a></li>
            <li><a href="/static/maps.html"><i class="fa fa-map-marker fa-fw"></i>Maps</a></li>
            <li><a href="/static/manage-users.html"><i class="fa fa-users fa-fw"></i>Manage Users</a></li>
            <li><a href="/static/preferences.html"><i class="fa fa-sliders fa-fw"></i>Preferences</a></li>
            <li><a href="/static/login.html"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li> -->
          </ul>  
        </nav>
        <!-- Search box -->
        <form class="templatemo-search-form" role="search">
          <div class="input-group">
              <button type="submit" class="fa fa-search"></button>
              <input type="text" class="form-control" placeholder="Search by ID" name="srch-term" id="srch-term">           
          </div>
        </form>
        <nav class="id-list">
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
                <li>Link 5</li>
                <li>Link 6</li> 
                <li>Link 7</li> 
                <li>Link 8</li>
                <li>Link 9</li>
                <li>Link 10</li>
                <li>Link 11</li>
                <li>Link 13</li>
                <li>Link 13</li>
            </ul>
        </nav>
        <br>
        <img src="/static/images/ViDA.png" alt="Profile Photo" class="profile-img">
      </div>
      <div class="right-side">
      </div>

  </body>
</html>
        
      
      